.image-grid {
  //   width: 100vh;
  //   height: 100vh;
  display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  margin-top: 10px;
}
.image-item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
.image-item2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}
.image-item3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}
.image-item4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}
.image-item5 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
  //   padding-bottom: 200px;
}
.image-item6 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
  font-size: 2em;
  color: $lrg-text-color;
  font-weight: 600;
}
.about-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  padding: 10px;
}
.aboutme__desc {
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  // margin: 50px auto 0px auto;
  text-align: justify;
  background-color: $alt-color;
  padding: 20px;
  // border-radius: 10px;
  line-height: 25px;
}
.inline-display {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .about-image {
    object-fit: cover;
    object-position: 50% 30%;
    padding: 0px;
  }
  .viewnext__img {
    width: 30px;
    height: 30px;
  }
  .button-text {
    font-size: 1em;
  }
  .hidden {
    display: none;
  }
  .image-item6 {
    display: none;
  }
  .aboutme__desc {
    width: 100%;
    font-size: 0.8em;
    font-weight: 300;
    // margin: 20px;
    text-align: start;
    background-color: $alt-color;
    padding: 10px;
    text-align: justify;
    // border-radius: 10px;
    // line-height: 25px;
  }
}
