.container {
  height: 90vh;
  padding-top: 10vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-size: cover;
}

.footer {
  bottom: 0;
  left: 0;
  position: relative;
  margin: 20px 0 10px 10px;
}
@media screen and (max-width: 600px) {
  .container {
    overflow: visible;
  }
}
