.container {
  height: 90vh;
  padding-top: 10vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-size: cover;
}
.android {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.9),
      rgba(15, 48, 87, 0.32)
    ),
    url("../assets//img//project/bg/android.png");
}
.footer {
  bottom: 0;
  left: 0;
  position: relative;
  margin: 20px 0 10px 10px;
}
@media screen and (max-width: 600px) {
  .container {
    overflow: visible;
  }
}
