@import "./config";
@import "./menu";
@import "./container";
@import "./home";
@import "./animation";
@import "./project";
@import "./work";
@import "./about";
@import "./perc_widget";
@import "./contact";
@import "./input_box";

html {
  scroll-behavior: smooth;
}
body {
  background-color: $secondary-color;
  color: $accent-color;
  height: 100vh;
  //font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // font-family: "Josefin Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 1rem;
}

.footerIcons {
  color: $accent-color;
  padding-left: 10px;
  @include transition-ease;
  &:hover {
    color: $secondary-accent-color;
  }
}

.column {
  float: left;
  width: 45%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.copyrights {
  right: 0;
  bottom: 0;
}
.centered {
  text-align: center;
}
.sub-heading {
  font-size: 2em;
  text-align: start;
  border-bottom: $accent-color solid 1px;
  padding: 10px;
  margin-bottom: 20px;
}
.short_heading {
  font-size: 1.5em;
  // text-align: start;
  color: $overlay-color;
  font-weight: 600;
}
.bold {
  font-weight: 600;
  font-size: 2em;
}
.section_header {
  margin: 10px;
  color: $overlay-color;
}
