* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.icon {
  height: 70px;
  width: 70px;
  position: absolute;
  z-index: 1;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .icon {
    height: 30px;
    width: 30px;
  }
}

.nav {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #dbe3e5;
  list-style: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav__item.active > a {
  color: #0f3057;
}

.nav .menu-nav__link {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #0f3057;
}

.nav .menu-nav__link:hover {
  color: #aa4a30;
}

.container {
  height: 100vh;
  padding-top: 10vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: cover;
}

.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  margin: 0 0 10px 10px;
}

.hero-image {
  width: 100%;
  vertical-align: middle;
}

.grid-container {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-item.intro {
  padding: 20px;
}

.grid-item.image {
  width: 100%;
  height: auto;
}

h1.cover-heading.greetings {
  margin-top: 90px;
  top: 0;
  left: 0;
  font-size: 50px;
  text-align: start;
  padding-bottom: 10px;
  border-bottom: 2px solid #0f3057;
}

.name {
  color: #7d7b6e;
}

p.self-description {
  margin-top: 10px;
  text-align: start;
  width: 100%;
  font-size: 20px;
  color: var(--main-element-color);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  p.self-description {
    width: 100%;
    font-size: 15px;
  }
  h1.name {
    font-size: 35px;
  }
  h1.cover-heading.greetings {
    margin-top: 50px;
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    height: 80vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.left-wrapper {
  text-align: start;
}

.btn {
  background-color: #0f3057;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn.learnmore-button {
  left: 0;
  margin: 20px 20px 20px 0px;
  color: #dbe3e5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn.learnmore-button:hover {
  background-color: #aa4a30;
}

body {
  background-color: #faf7e1;
  color: #0f3057;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

.footerIcons {
  color: #0f3057;
  padding-left: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footerIcons:hover {
  color: #aa4a30;
}

.column {
  float: left;
  width: 45%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
/*# sourceMappingURL=main.css.map */