* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.icon {
  height: 70px;
  width: 70px;
  position: absolute;
  z-index: 3;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media screen and (max-width: 600px) {
  .icon {
    height: 30px;
    width: 30px;
  }
}

.nav {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0.98;
  visibility: hidden;
  z-index: 2;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #fcfbf0;
  list-style: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav__item.active > a {
  color: #0f3057;
}

.nav .menu-nav__link {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #0f3057;
}

@media screen and (max-width: 600px) {
  .nav .menu-nav__link {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.nav .menu-nav__link:hover {
  color: #aa4a30;
}

.container {
  height: 90vh;
  padding-top: 10vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: cover;
}

.container__project {
  overflow: visible;
}

.container__work {
  height: 50vh;
}

@media screen and (max-width: 600px) {
  .container__work {
    height: auto;
  }
  .container.contact {
    overflow: scroll;
  }
}

.footer {
  bottom: 0;
  left: 0;
  position: relative;
  margin: 20px 0 10px 10px;
}

@media screen and (max-width: 600px) {
  .container {
    overflow: visible;
  }
  .about,
  .notfound {
    height: auto;
  }
}

.hero-image {
  width: 100%;
  vertical-align: middle;
}

.grid-container {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-item.intro {
  padding: 20px;
}

.grid-item.image {
  width: 100%;
  height: auto;
}

h1.cover-heading.greetings {
  margin-top: 90px;
  top: 0;
  left: 0;
  font-size: 50px;
  text-align: start;
  padding-bottom: 10px;
  border-bottom: 2px solid #0f3057;
}

.name {
  color: #7d7b6e;
  border-bottom: solid #0f3057 2px;
}

p.self-description {
  margin-top: 10px;
  text-align: start;
  width: 100%;
  font-size: 20px;
  color: var(--main-element-color);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  p.self-description {
    width: 100%;
    font-size: 15px;
  }
  h1.name {
    font-size: 35px;
  }
  h1.cover-heading.greetings {
    margin-top: 50px;
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    height: 80vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.left-wrapper {
  text-align: start;
}

.btn {
  background-color: #0f3057;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn.learnmore-button {
  left: 0;
  margin: 20px 20px 20px 0px;
  border-radius: 10px;
  color: #fcfbf0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn.learnmore-button:hover {
  background-color: #aa4a30;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

.heading {
  font-weight: 700;
  margin: 0 auto 0 auto;
  padding: 25px;
  color: #0f3057;
}

.slideshow {
  width: 100%;
  height: 70vh;
  margin: 0 auto 0 auto;
  border-radius: 10px;
}

.slideshow__img {
  cursor: pointer;
  width: 80%;
  height: 70vh;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(5%, transparent), color-stop(40%, black));
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 40%);
  mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(5%, transparent), color-stop(40%, black));
  mask-image: linear-gradient(to top, transparent 5%, black 40%);
  border-radius: 20px;
}

.projectDetails {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 1rem;
  color: black;
}

.projectTitle {
  font-weight: 700;
  padding: 10px;
  font-size: 1.5rem;
  color: black;
}

.section__header {
  margin-top: 80px;
}

.project__info {
  margin: 20px;
  text-align: start;
}

.project__desc {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  line-height: 40px;
  color: #6c757d;
}

.__date {
  font-size: 1em;
  margin-bottom: 10px;
}

.tagslist {
  margin: 10px;
}

.tagslist .tags {
  background-color: #64b5f6;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  color: white;
  margin: 10px;
  display: inline-block;
}

.__title {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-container__projects {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  justify-items: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid-item__projects {
  height: 90vh;
}

.grid-item__projects .tag__wrapper {
  background-color: #0f3057;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.grid-item__projects .tag__wrapper .tag {
  color: white;
  font-size: 8em;
  width: 1em;
  font-size: 40px;
  letter-spacing: 40px;
  margin: 20px;
  font-weight: 700;
}

.viewnext {
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.viewnext__img {
  width: 50px;
  height: 50px;
}

.nobounce {
  -webkit-animation: none;
          animation: none;
  margin-top: 20px;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
}

.project__piechart {
  width: 100px;
  height: 100px;
}

.tool_tip {
  padding: 10px;
  border-radius: 10px;
  background-color: #dbe3e5;
}

.grid-container__projectinfo {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  justify-items: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project__image {
  width: 200px;
  height: 80vh;
}

@media screen and (max-width: 600px) {
  .slideshow__img {
    height: 50vh;
  }
  .slideshow {
    height: 50vh;
  }
  .projectDetails {
    display: none;
  }
  .projectTitle {
    font-size: 1rem;
  }
  .section__header {
    margin-top: 10px;
    padding: 10px;
  }
  .project__image {
    display: none;
  }
  .grid-container__projectinfo {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .__title {
    font-size: 1.5em;
  }
  .project__desc {
    font-size: 1em;
    font-weight: 200;
    line-height: 25px;
  }
  .grid-container__projects {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 90%;
        grid-template-rows: 10% 90%;
    overflow: scroll;
  }
  .project__info {
    margin: 30px;
  }
  .grid-item__projects {
    margin: auto;
  }
  .grid-item__projects .tag__wrapper .tag {
    font-size: 2em;
    width: 100%;
    letter-spacing: 0px;
    margin: 0;
    padding: 5px;
  }
}

.work {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  .work {
    height: 50%;
  }
}

.image__container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 60vh 10vh;
      grid-template-rows: 60vh 10vh;
}

.work__grid-item1 {
  height: 100vh;
}

.work__grid-item2 {
  height: 10vh;
}

.button-text {
  font-size: 1.5em;
  color: #0f3057;
  margin-bottom: 5px;
}

.downarrow {
  position: absolute;
  z-index: 10;
}

.work__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.item1 {
  background-color: #dbe3e5;
  border-radius: 10px;
  padding: 40px;
  margin: 20px;
}

.work_gridItem .workTitle {
  font-size: 2em;
  font-weight: 700;
  margin: 10px;
}

.work_gridItem .workDesc {
  display: inline-block;
  width: 400px;
  font-size: 1em;
  text-align: start;
  line-height: 25px;
  color: #6c757d;
}

.work_gridItem .workDate {
  font-size: 1em;
}

.work_gridItem .workOrg {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 500;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .work__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .work_gridItem {
    margin: 10px;
  }
  .work_gridItem .workDesc {
    width: 100%;
    padding: 20px;
  }
  .work_gridItem .workTitle {
    font-size: 1.5em;
  }
  .work_gridItem .workOrg {
    font-size: 1em;
    font-weight: 700;
  }
  .work_gridItem .nobounce {
    display: none;
  }
}

.image-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[8];
      grid-template-rows: repeat(8, 5vw);
  margin-top: 10px;
}

.widget-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .widget-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.widget__title {
  text-align: center;
}

.image-item1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
}

.image-item2 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
}

.image-item3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 9;
}

.image-item4 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 9;
}

.image-item5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
}

.image-item6 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
  font-size: 2em;
  color: #6c757d;
  font-weight: 600;
}

.about-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  padding: 10px;
}

.aboutme__desc {
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  text-align: justify;
  background-color: #dbe3e5;
  color: #6c757d;
  padding: 20px;
  line-height: 25px;
}

.inline-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .about-image {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 30%;
       object-position: 50% 30%;
    padding: 0px;
  }
  .viewnext__img {
    width: 30px;
    height: 30px;
  }
  .button-text {
    font-size: 1em;
  }
  .hidden {
    display: none;
  }
  .image-item6 {
    display: none;
  }
  .aboutme__desc {
    width: 100%;
    font-size: 0.8em;
    font-weight: 300;
    text-align: start;
    background-color: #dbe3e5;
    padding: 10px;
    text-align: justify;
  }
}

.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}

.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100 {
  position: relative;
  font-size: 90px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #cccccc;
}

.c100 *,
.c100 *:before,
.c100 *:after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.c100.center {
  float: none;
  margin: 0 auto;
}

.c100.big {
  font-size: 240px;
}

.c100.small {
  font-size: 80px;
}

.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: whitesmoke;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p1 .bar {
  -webkit-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}

.c100.p2 .bar {
  -webkit-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}

.c100.p3 .bar {
  -webkit-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}

.c100.p4 .bar {
  -webkit-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}

.c100.p5 .bar {
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
}

.c100.p6 .bar {
  -webkit-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}

.c100.p7 .bar {
  -webkit-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}

.c100.p8 .bar {
  -webkit-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}

.c100.p9 .bar {
  -webkit-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}

.c100.p10 .bar {
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
}

.c100.p11 .bar {
  -webkit-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}

.c100.p12 .bar {
  -webkit-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}

.c100.p13 .bar {
  -webkit-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}

.c100.p14 .bar {
  -webkit-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}

.c100.p15 .bar {
  -webkit-transform: rotate(54deg);
  transform: rotate(54deg);
}

.c100.p16 .bar {
  -webkit-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}

.c100.p17 .bar {
  -webkit-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}

.c100.p18 .bar {
  -webkit-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}

.c100.p19 .bar {
  -webkit-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}

.c100.p20 .bar {
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
}

.c100.p21 .bar {
  -webkit-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}

.c100.p22 .bar {
  -webkit-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}

.c100.p23 .bar {
  -webkit-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}

.c100.p24 .bar {
  -webkit-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}

.c100.p25 .bar {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c100.p26 .bar {
  -webkit-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}

.c100.p27 .bar {
  -webkit-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}

.c100.p28 .bar {
  -webkit-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}

.c100.p29 .bar {
  -webkit-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}

.c100.p30 .bar {
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
}

.c100.p31 .bar {
  -webkit-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}

.c100.p32 .bar {
  -webkit-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}

.c100.p33 .bar {
  -webkit-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}

.c100.p34 .bar {
  -webkit-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}

.c100.p35 .bar {
  -webkit-transform: rotate(126deg);
  transform: rotate(126deg);
}

.c100.p36 .bar {
  -webkit-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}

.c100.p37 .bar {
  -webkit-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}

.c100.p38 .bar {
  -webkit-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}

.c100.p39 .bar {
  -webkit-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}

.c100.p40 .bar {
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
}

.c100.p41 .bar {
  -webkit-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}

.c100.p42 .bar {
  -webkit-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}

.c100.p43 .bar {
  -webkit-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}

.c100.p44 .bar {
  -webkit-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}

.c100.p45 .bar {
  -webkit-transform: rotate(162deg);
  transform: rotate(162deg);
}

.c100.p46 .bar {
  -webkit-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}

.c100.p47 .bar {
  -webkit-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}

.c100.p48 .bar {
  -webkit-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}

.c100.p49 .bar {
  -webkit-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}

.c100.p50 .bar {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100.p51 .bar {
  -webkit-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}

.c100.p52 .bar {
  -webkit-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
}

.c100.p53 .bar {
  -webkit-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}

.c100.p54 .bar {
  -webkit-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}

.c100.p55 .bar {
  -webkit-transform: rotate(198deg);
  transform: rotate(198deg);
}

.c100.p56 .bar {
  -webkit-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}

.c100.p57 .bar {
  -webkit-transform: rotate(205.2deg);
  transform: rotate(205.2deg);
}

.c100.p58 .bar {
  -webkit-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}

.c100.p59 .bar {
  -webkit-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}

.c100.p60 .bar {
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
}

.c100.p61 .bar {
  -webkit-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}

.c100.p62 .bar {
  -webkit-transform: rotate(223.2deg);
  transform: rotate(223.2deg);
}

.c100.p63 .bar {
  -webkit-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}

.c100.p64 .bar {
  -webkit-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}

.c100.p65 .bar {
  -webkit-transform: rotate(234deg);
  transform: rotate(234deg);
}

.c100.p66 .bar {
  -webkit-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}

.c100.p67 .bar {
  -webkit-transform: rotate(241.2deg);
  transform: rotate(241.2deg);
}

.c100.p68 .bar {
  -webkit-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}

.c100.p69 .bar {
  -webkit-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}

.c100.p70 .bar {
  -webkit-transform: rotate(252deg);
  transform: rotate(252deg);
}

.c100.p71 .bar {
  -webkit-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}

.c100.p72 .bar {
  -webkit-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}

.c100.p73 .bar {
  -webkit-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}

.c100.p74 .bar {
  -webkit-transform: rotate(266.4deg);
  transform: rotate(266.4deg);
}

.c100.p75 .bar {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.c100.p76 .bar {
  -webkit-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}

.c100.p77 .bar {
  -webkit-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}

.c100.p78 .bar {
  -webkit-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}

.c100.p79 .bar {
  -webkit-transform: rotate(284.4deg);
  transform: rotate(284.4deg);
}

.c100.p80 .bar {
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
}

.c100.p81 .bar {
  -webkit-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}

.c100.p82 .bar {
  -webkit-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}

.c100.p83 .bar {
  -webkit-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}

.c100.p84 .bar {
  -webkit-transform: rotate(302.4deg);
  transform: rotate(302.4deg);
}

.c100.p85 .bar {
  -webkit-transform: rotate(306deg);
  transform: rotate(306deg);
}

.c100.p86 .bar {
  -webkit-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}

.c100.p87 .bar {
  -webkit-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}

.c100.p88 .bar {
  -webkit-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}

.c100.p89 .bar {
  -webkit-transform: rotate(320.4deg);
  transform: rotate(320.4deg);
}

.c100.p90 .bar {
  -webkit-transform: rotate(324deg);
  transform: rotate(324deg);
}

.c100.p91 .bar {
  -webkit-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}

.c100.p92 .bar {
  -webkit-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}

.c100.p93 .bar {
  -webkit-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}

.c100.p94 .bar {
  -webkit-transform: rotate(338.4deg);
  transform: rotate(338.4deg);
}

.c100.p95 .bar {
  -webkit-transform: rotate(342deg);
  transform: rotate(342deg);
}

.c100.p96 .bar {
  -webkit-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}

.c100.p97 .bar {
  -webkit-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}

.c100.p98 .bar {
  -webkit-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}

.c100.p99 .bar {
  -webkit-transform: rotate(356.4deg);
  transform: rotate(356.4deg);
}

.c100.p100 .bar {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.c100:hover {
  cursor: default;
}

.c100:hover > span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #307bbb;
}

.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}

.c100.dark {
  background-color: #777777;
}

.c100.dark .bar,
.c100.dark .fill {
  border-color: #c6ff00 !important;
}

.c100.dark > span {
  color: #777777;
}

.c100.dark:after {
  background-color: #666666;
}

.c100.dark:hover > span {
  color: #c6ff00;
}

.c100.green .bar,
.c100.green .fill {
  border-color: #4db53c !important;
}

.c100.green:hover > span {
  color: #4db53c;
}

.c100.green.dark .bar,
.c100.green.dark .fill {
  border-color: #5fd400 !important;
}

.c100.green.dark:hover > span {
  color: #5fd400;
}

.c100.orange .bar,
.c100.orange .fill {
  border-color: #dd9d22 !important;
}

.c100.orange:hover > span {
  color: #dd9d22;
}

.c100.orange.dark .bar,
.c100.orange.dark .fill {
  border-color: #e08833 !important;
}

.c100.orange.dark:hover > span {
  color: #e08833;
}

.contactGrid {
  height: 100vh;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-heading {
  font-size: 1.5em;
  font-weight: 600;
  text-align: start;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .contactGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.inputBox__label {
  font-size: 0.8em;
  text-align: start;
  margin: 5px 5px 5px 10px;
}

.inputBox__text {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: block;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  border: #0f3057 solid 1px;
}

.inputBox .error {
  border: #b71c1c solid 1px !important;
}

.inputBox .errorText {
  visibility: hidden;
  font-size: 0.7em;
  color: #b71c1c;
}

.inputBox .errorText.show {
  visibility: visible;
}

.contact_gridItem.form {
  background-color: #dbe3e5;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.notfound__img {
  width: 400px;
  height: 400px;
  padding: 10px;
  max-height: 100%;
}

.notfound__message {
  font-size: 2em;
  padding: 10px;
  margin: 10px;
  font-weight: 600;
}

.notfound-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 20px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .notfound__img {
    width: 200px;
    height: 200px;
  }
  .notfound-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 20% 80%;
        grid-template-rows: 20% 80%;
  }
  .notfound__message {
    font-size: 1.5em;
  }
}

.toastContainer {
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  position: fixed;
  width: auto;
  height: auto;
  color: white;
  padding: 10px;
  border-radius: 5px;
  visibility: hidden;
}

.toastContainer.show {
  -webkit-animation: FadeAnimation 2s ease-in .2s forwards;
          animation: FadeAnimation 2s ease-in .2s forwards;
}

.toastContainer.success {
  background-color: #689f38;
}

.toastContainer.warning {
  background-color: #f57c00;
}

.toastContainer.error {
  background-color: #d32f2f;
}

@-webkit-keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #0f3057;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 1rem;
}

.footerIcons {
  color: #0f3057;
  padding-left: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footerIcons:hover {
  color: #aa4a30;
}

.column {
  float: left;
  width: 45%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.copyrights {
  right: 0;
  bottom: 0;
}

.centered {
  text-align: center;
}

.sub-heading {
  font-size: 2em;
  text-align: center;
  background-color: #dbe3e5;
  padding: 15px;
  margin-bottom: 20px;
}

.sub-heading.aboutheading {
  margin-top: 20px;
}

.short_heading {
  font-size: 1.5em;
  color: #7d7b6e;
  font-weight: 600;
}

.bold {
  font-weight: 600;
  font-size: 2em;
}

.section_header {
  margin: 10px;
  color: #7d7b6e;
}

.textdesc {
  text-align: left;
}

.highlight {
  color: #7d7b6e;
}

.big {
  font-size: 2em;
}

.icon_img {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.icon_img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.boring-text {
  color: #6c757d;
}

@media screen and (max-width: 600px) {
  .sub-heading {
    font-size: 1.5em;
  }
  .big {
    font-size: 1.5em;
  }
  .icon_img {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=main.css.map */